---
layout: custom
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>About me</h4>
  <p>
    I am an Associate Professor of Statistics in the <a href="https://www.stats.ox.ac.uk/people/fergus-imrie">Department of Statistics at the University of Oxford</a> and a <a href="https://www.jesus.ox.ac.uk/about-jesus-college/our-community/people/professor-fergus-imrie/">Hugh Price Fellow at Jesus College, Oxford</a>.
    My research develops machine learning methods for drug discovery and healthcare, with a particular focus on structure-based drug discovery, experimental design and decision-making, and learning from small, noisy, or biased datasets.
    I am interested in methods that can support scientific decisions when data are limited, measurements are uncertain, and downstream experiments are expensive.
  </p>

  <p>
    I am one of the AI Leads for <a href="https://openbind.uk/">OpenBind</a>, an open-science consortium generating large-scale open datasets to support structure-based AI for drug discovery.
  </p>

  <p>
    I was previously a Florence Nightingale Bicentenary Fellow in the Department of Statistics at the University of Oxford from 2024 to 2026.
    From 2021-2024, I was a postdoctoral scholar at the University of California, Los Angeles (UCLA) in the Department of Electrical and Computer Engineering, working with <a href="https://www.vanderschaar-lab.com/">Mihaela van der Schaar</a>.
    Before that, I completed my DPhil (PhD) at the University of Oxford in the Department of Statistics in the <a href="http://opig.stats.ox.ac.uk/">Oxford Protein Informatics Group (OPIG)</a>, supervised by <a href="https://www.stats.ox.ac.uk/~deane/">Charlotte Deane</a>.
    My studentship was supported by an iCASE award with <a href="https://www.exscientia.ai/">Exscientia</a>, supervised by Anthony Bradley.
    My thesis explored deep learning approaches for pre-clinical drug discovery, with an emphasis on generative molecular design.
  </p>
</div>

<!-- ========== WORKING WITH ME ========== -->
<div class="docs-section" id="opportunities">
  <h4>Working with me</h4>

  <p>
    If you're a current DPhil student at Oxford and would like to do a rotation project with me, please get in touch.
    More generally, if you'd like to collaborate, please reach out.
  </p>
</div>

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h4>Recent News</h4>
  <ul>
    {% for item in site.data.news.items %}
      {% if item.archived != "y" %}
        <li>[{{ item.date }}] {{ item.text }}
          {% for link in item.links %}
            <a href="{{ link.url }}" target="_blank">[{{ link.label }}]</a>
          {% endfor %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>
    Selected publications are highlighted below. A fuller and usually more current list is available on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
    <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Highlights</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
    <li><div class="button" data-ref="#papers-preprints">Preprints</div></li>
    <li><div class="button" data-ref="#papers-journals">Journals</div></li>
    <li><div class="button" data-ref="#papers-ml-conferences">ML Conferences</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        {% include paper.html %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        {% include paper.html %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-preprints">
      {% assign selected_papers = site.data.publications.papers | where: "publication_type", "preprint" %}
      {% for paper in selected_papers %}
        {% include paper.html %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-journals">
      {% assign journal_papers = site.data.publications.papers | where: "publication_type", "journal" %}
      {% for paper in journal_papers %}
        {% include paper.html %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-ml-conferences">
      {% assign ml_conference_papers = site.data.publications.papers | where: "publication_type", "ml_conference" %}
      {% for paper in ml_conference_papers %}
        {% include paper.html %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->

<div class="docs-section" id="template">
    <h5>Acknowledgement</h5>
    This website was built with Jekyll, based on a template by <a href="http://web.media.mit.edu/~msaveski/">Martin Saveski</a> (thank you!).
</div>
